[general]

# The name of the backup.
label = example

# Uncomment to override global values
#verification_interval = 7


[rsync]

# Use this to specify the path to the rsync executable.
# The default is to use rsync from PATH.
#pathname = rsync

# rsync_mode tells the script how to reach the sourcefiles for the backup
# ssh: ssh will by used as the transport for rsync.
# local: use this when you are going to backup a local directory
mode = ssh

# The directory you want to backup. Note that paths in the rules file are
# relative to this directory.
source_dir = /

# Set some additional rsync options here if needed
additional_options = --numeric-ids --partial-dir=.rsync-partial --timeout=600 --acls --xattrs --hard-links

# IP/name of the computer to backup. Ignored if rsync_mode is local
source_host = ${general:label}

# These parameters are only used if rsync_mode is ssh.
# ssh_user specifies the user you want to run the backup as on the
# remote side. ssh_key specifies the local path to the key used for
# authentication against the remote side.
ssh_user = root
ssh_key = /root/.ssh/backup


[reporting]

# Uncomment to override global values
#to_addrs = admin@example.com
#link_to_logs = false
#report_interval = 7


[retention]

# Uncomment to override global values
#snapshot = 1    # count
#daily = 31      # days
#monthly = 12    # months
#yearly = 5      # years
#logs = 365      # days
