[general]

# The folder to put all backups in
backup_root = /srv/rsync-backup

# By default permissions are restricted to the current user for all files 
# created by this script. This will not affect the backup itself if rsync is 
# configured to sync permissions and/or ACLs.
#umask = 0o077

# Set the default number of days between automatic backup verifications based 
# on the calculated checksums. Only the last backup will be verified
# automatically, but as files are mostly hardlinked this should be sufficient 
# in most cases. Set to 0 to disable (not recommended).
verification_interval = 7


[reporting]

# SMTP server to use for sending email
smtp_server = localhost

# A valid e-mail address to use as from address
from_addr = backup@example.com

# Comma separated list of email addresses to send end status reports to.
to_addrs = admin@example.com

# Specify if link to logs should be added to e-mail reports
link_to_logs = false

# base_url specifies the URL to use for reaching the backup_root.
# The relative path to the log filename will be appended to this URL in emails.
# It is only used if link_to_logs is true.
base_url = https://backup.example.com/rsync-backup/

# Default interval for summary reports in days. If a backup job fail a
# notification mail will get sent regardless of this setting.
report_interval = 7


[retention]

# Default retention values. Set value to 0 to disable a retention category.
snapshot = 1    # count
daily = 31      # days
monthly = 12    # months
yearly = 5      # years
logs = 365      # days
